@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap');

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
background: #ffffff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f1e5ff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f1e5ff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}

.btn {
  font-weight: 700;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 30px;
}


.delete-btn {
  background-color: red;
  color: white;
  border-color: white;
}

.btn:hover {
  opacity: 0.7;
}

form {
  margin: 15px 0;

}

input[type=text],
input[type=number],
input[type=password],
textarea,
select {
  border: 1px solid gray;
  font-size: 14px;
  padding: 8.5px;
  margin: 3px 0;
  border-radius: 3px;
  width: 400px;
}

input[type=file] {
  margin: 10px 0;
}
input[type=text]:last-of-type {
  margin-bottom: 10px;
}

.error {
  border: 2px solid red;
  padding: 0 15px;
  font-weight: 700;
}

/* -- Header -- */

header {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: black;
  font-size: 5em;
  margin-bottom:0px;
  padding:0px;
}


/* -- Nav -- */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

nav a {
  font-size: 0.9em;
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 600;
  padding: 15px 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

nav a:hover {
  opacity: 0.7;
}

/* -- Main -- */

main {
  flex-grow: 1;
  margin: auto;
  max-width: 800px;
  padding: 0 20px;
  width: 100%;
}

/* -- Footer -- */

footer {
  background: #000f1f;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: italic;
  font-size: 0.8em;
}

/* -- Items -- */



.item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0;
  margin-bottom: 50px;
}

article.item{
  padding: 30px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}
.single-container {
  padding: 30px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

article.item b {
  padding-top: 5px;
}

article.item > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* -- Solo item -- */
div.solo-item{
  text-align: center;
  display: block;
}

div.solo-item img{
  max-width: 420px;
  margin: 0 auto 15px;
}
.pt-id {
  display: none;
}
.pt-id-label {
  display: none;
}

.item-row {
  margin: 20px 0;
  padding: 22px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
}
.item-row > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-row > div > b{
  font-size: 20px;
}
.last-p {
  margin-bottom: 50px;
}